body{
    background-color:white;
}
#board{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/Board.png");
    width: 100%;
    height: 400px;
    color:white;
    text-shadow: 3px 1px  grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}
table{
    width:100%;
    height: auto;
}
tr,td{
    padding: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border:1px solid grey;
}
#profile{
    width: 100%;
    height: auto;
    background-color:white;
    text-align: center;
}
footer{
    background-color:#161c2e ;
    width: 100%;
    height: auto;
    text-align:center;
    color: white;
}
